@font-face {
    font-family: font;
    src: url('../fonts/font.otf');
}

@mixin animation($size){
  transform: scale($size);
  transition: all 1s linear;
}

@mixin animation-right{
  transform: translateY(-20px);
  transition: all 1s linear;
}

@mixin background($position,$url){
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: $position;
  transition: 1s all linear;
}

@keyframes arrow-animation {
  0% {opacity:0}
  50% {opacity:1}
  100% {opacity:0;}
}

$padd: 7px;
$font: SohoLight;
$clr:#4b5656;


// Website view
html , body , .container-fluid, .row{
  height:100%;
  font-family: $font;
  color:$clr;
  font-family: font;
}

// First Page
.menu{
  margin:0;
  padding:0;
  list-style-type: none;
  &  > li{
    padding: $padd;
    display: inline-block;
    transition: all 1s linear;
    & > img {
      width:85px;
    }
    & > p{
      opacity:1;
    }
  }
}

h1, h2 {
  margin-top: $padd * 10;
}

.page{
  transition: 1s all linear;
  opacity:0;
}

// Rest of the pages
.right{
  text-align: center;
  & > img{
    transition: all 1s linear;
    &:hover{
        @include animation-right();
    }
  }
  & > p{
    opacity:1;
  }
}

.media{
    @include background(top 5% right 0%,"../img/section2.png");
}

.fashion{
  @include background(top 0%,"../img/section3.png");
  background-size: 100%;
}

.miscellaneous{
  @include background(bottom 0% right 0%,"../img/section4.png");
}

.contact{
  @include background(top 5% left 0%,"../img/section5.png");
}

.article{
  height:100%;
  width:100%;
  background-size: cover;
  margin-top:$padd * 3;
  margin-bottom:$padd * 3;
  & h3,p{
    padding-top:$padd * 4;
    opacity:0;
    background:white;
    transition: 1s all linear;
  }
  &:hover > p{
    transition: 1s all linear;
    opacity:1;
  }
  &:hover > h3{
    transition: 1s all linear;
    opacity:1;
  }
}

.fa-arrow-down{
  padding-top:$padd *10;
  opacity:0;
  animation: arrow-animation 3s ;
}
.mid{
  &::-webkit-scrollbar {display:none;};
  overflow-y: scroll;
  overflow-x: hidden;
  height:100%;
}

footer{
  padding:$padd;
}

.social{
  width: 100%;
  text-align: center;
  padding:$padd;
  top:0;
  position: absolute;
  & > a {
    margin:$padd;
    color:$clr;
    &:hover{
      color:grey;
    }
  }
}


// Desktop and tablets view
@media(min-width: 960px) {
  .right{
    text-align: left;
    & > p {
      padding-top:$padd;
      padding-left: $padd * 2;
      opacity: 0;
      transition: all 1s linear;
    }
    &:hover > p{
      opacity: 1;
      transition: all 1s linear;
    }
  }

  .menu{
    margin-top:$padd * 10;
    & > li {
      padding:$padd * 2;
    &:hover {
      @include animation(1.5);
      & > p{
        transition: all 1s linear;
        opacity:1;
      }
    }
    & > p{
      transition: all 1s linear;
      opacity:0;
      font-size:0.75em;
      }
    }
  }

  h1, h2 {
    padding-top: $padd * 10;
    margin-top:0;
  }
  .social{
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    width:50px;
    margin:auto;
    height:200px;
  }
}
