@mixin animation($size){
  transform: scale($size);
  transition: all 1s linear;
}
@mixin animation-right{
  transform: translateY(-20px);
  transition: all 1s linear;
}

@mixin background($position,$url){
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: $position;
}


$padd: 7px;
$font: SohoLight;
$clr:#4b5656;

html , body , .container-fluid, .row{
  height:100%;
  font-family: $font;
  color:$clr;
}

// First Page
.menu{
  list-style-type: none;
  &  > li{
    padding: $padd;
    display: inline-block;
    transition: all 1s linear;
    & > img {
      width:85px;
    }
    &:hover {
      @include animation(1.5);
      & > p{
        transition: all 1s linear;
        opacity:1;
      }
    }
    & > p{
      transition: all 1s linear;
      opacity:0;
      font-size:0.75em;
    }
  }
}

h1, h2 {
  padding: $padd * 8;
}

// Rest of the pages
.right{
  text-align: center;
  & > img{
    transition: all 1s linear;
    &:hover{
        @include animation-right();
    }
  }
  & > p {
    padding-top:$padd;
    padding-left: $padd * 2;
    opacity: 0;
    transition: all 1s linear;
  }
  &:hover > p{
    opacity: 1;
    transition: all 1s linear;
  }
}

.media{
    @include background(top 5% right 0%,"../img/section2.png");
}

.fashion{
  @include background(top 0%,"../img/section3.png");
}

.miscelanious{
  @include background(bottom 0% right 0%,"../img/section4.png");
}

.contact{
  @include background(top 5% left 0%,"../img/section5.png");
}


.scroll{
  &::-webkit-scrollbar {display:none;};
  overflow-y: scroll;
  overflow-x: hidden;
}

footer{
  padding:$padd;
}

.social{
  & > a {
    color:$clr;
    &:hover{
      color:grey;
    }
  }
}

@media(min-width: 960px) {
  .right{
    text-align: left;
  }

  .menu{
    & > li {
      padding:$padd * 2;
    }
  }

  .social{
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    width:50px;
    margin:auto;
    height:200px;
  }
}
